body,html{
	height: :100vh;
	overflow-x: hidden;

}
body{
    font-family: 'Spectral', serif;
	margin: 0;
	display: grid;
	background: ghostwhite;
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto auto auto 0.5fr auto;
	grid-template-areas:
	"header"
	"main-news"
	"items"
	"pub"
	"item3"
	"footer";
}


header > .logo{

	display: block;
	margin: auto;
	width: 75%;
	padding: 30px;

}
header{
	grid-area: header;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 0.1px center;
	border: transparent;
	padding: 9px 10px 9px 32px;
	width: 55px;
	background-color:transparent;
	margin-top: 0px;


	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	height: 0.1vh;
}
input[type=search]:focus {
	width: 130px;
	background-color:transparent;
	border: 0.1px solid #1111;
	border-radius: 10px;



}


input:-moz-placeholder {
	color: #eee;
}
input::-webkit-input-placeholder {
	color: #333;
}


.menu-container{
	margin-top: 10vw;
	grid-area: menu;
	background: #eee3;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);


}


#multimedia{
	color: #3333;
	float: right;
	margin-right: 15vw;
}
#menu{
    text-align: center;
  }

#menu > ul{
	list-style: none;



}

#menu > ul >li{

	margin: 10px;
}

a {
	font-weight: 500;
    font-family: 'Spectral', serif;
 	text-decoration: none;
 	color: #333;



}


.active{
	text-decoration: line-through;
}
a:hover{
	cursor: pointer;
	text-decoration: line-through;
	text-decoration-color: #eee;
}
.sub{
	font-size: 1.1rem;
}


.input{

	background-color: transparent;
 	border-radius: 0;
  	border: none;
  		-webkit-appearance: none;
  		-moz-appearance: none;
	color: #3339;
	margin-left: 10px;
	text-align: center;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.2)
}

.fa-search{
	color: #3339;
	margin-left:10px;

}

.main-news{
	box-shadow: 0px 5px 1px 1px rgba(0, 0, 0, 0.1);
	grid-area: main-news;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image"
	"text";
}

.image-container{
	grid-area: image;
	margin-top: 50px;

}
.image-container > img{
	width: 80vw;
	display: block;
	margin: auto;
}
.text{
	grid-area: text;
	margin-left: 12px;
	margin-right:  12px;
	font-size: 1rem;
	text-align: center;
}
.text > p > .nome{
	color: #777;
	font-size: 1.1rem;
}

.readmore{
	text-align: center;
	font-size: 1.2rem;
	text-decoration: underline;

}

.shared-news{
	grid-area: items;
	width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
 	"item1 item2";
}

.item-1{
	grid-area: item1;
	width: 100vw;
	margin-top: 20px;
	height: auto;
	display: block;

}

.item-1 > img{
	width: 45vw;
	display: block;
	margin-left: 5px;


}

.item-2{
	grid-area: item2;
	width: 100vw;
	margin-top: 20px;
	height: auto;

}

.item-2 > img{
	width: 45vw;
	display: block;
	margin-right:  5px;
}
.text-1,.text-2{
	margin-left: 5vw;
	width:  40vw;
	text-align: center;
	text-decoration: underline;
	}

.text-1 :hover{
	font-size: 1.01rem;
}

.text-2 :hover{
	font-size: 1.01rem;
}

.pub-container{
	grid-area: pub;
	width: 100vw;
	height: 10vh;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom:  1px solid rgba(0, 0, 0, 0.5);

}
.pub-container > p{
	padding-top: 3vh;
	text-align: center;
	margin: auto;
}

.item-3{
	display: flex;
    align-items:center;
	grid-area: item3;
	margin-top: 15px;
	margin-left: 10px;
	width: 100%;
	padding: 15px;
	border: 1px solid #33333333;
	box-shadow: 1px 5px 1px 1px rgba(0, 0, 0, 0.1);

}

.item-3 > img{
	width:40vw;
	height: auto;
}
.item-3 > p{
	width: 60vw;

}

.i{
	margin-left: 0;
	width: 85%;
}
.t{
	margin-right: 15px;
	margin-left: -10px;
}

footer{
	margin-top: 10px;
	grid-area: footer;
	width: 100vw;
	grid-template-columns: 25% 75%;
	grid-template-rows: 95% 10%;
	grid-template-areas:
	"left right"
	"trademark trademark";
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background: #eee3;

}

.left-container{
	grid-area: left;
	width: 50%;
	display: block;
}

.logo-small{
	width: 70%;
	display: block;
	margin: 10px;
	padding-top: 2vh;

}

.fab{
	color: #333;
	margin-left: 30px;
	font-size: 2rem;
}
.fab:hover{
	color: #111;
}

.right-container{
	grid-area: right;
	width: 100vw;
	display: block;
	padding-left: 30%;
	padding-right: 50%;

	margin-top: -82px;
	margin-right: auto;
}

.right-container > ul{
	padding-left: 10%;
	width: 50%;
	font-size: 0.7em;
  		columns: 2;
		-webkit-columns: 2;
	  	-moz-columns: 2;
	list-style: none;
}

.trademark{
	color: #1119;
	grid-area: trademark;
	text-align: center;
	font-size: 0.4em;


}

.trademark > span{
	font-size: 1.4em;
}
/* MODAL */

.bg-modal{
	width:100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position:fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;


}
.modal-content{
	width: 70vw;
	height:  50vh;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	position: relative;



}
.modal-content > img{
	width: 50vw;
	padding: 5%;
}
.btn{
	display: block;
	margin: 4vh auto;
	text-align: center;
}
.btn > a{
	font-size: 1.5rem;
	text-decoration: underline;
}

.sub1,.sub2{
	text-align: center;
	width: 50vw;
	height: 3vh;
	display: block;
	margin: 1vh auto;

}
#close{
	position: absolute;
	margin-top: 0.5vh;
	top: 0;
	right: 1vw;
	font-size: 1.5em;
	transform: rotate(45deg);
	cursor: pointer;
}
.modal-content > p{
	font-size: 0.7em;
	text-align: center;
	margin-top: -2%;
}
.pub-head{
	padding-top: 1vh;
	text-align: center;
}
.under{
	text-decoration: underline;
}

.pub-small{
		margin-top: 3vh;
		width: 100vw;
		height: 50vw;
		display: flex;
		text-align: center;
		font-size: 0.5rem;
		justify-content: center;

		}
.pub1{
	margin: 3vw 3vw;
	width: 40vw;
	height: 40vw;
	border: 1px solid black;
		}

.pub1 > p{
		display: block;
		margin-top: 35%;
		}

.pub2 > p{
		display: block;
		margin-top: 35%;
		}




.pub2{
	margin: 3vw 3vw;
	width: 40vw;
	height: 40vw;
	border: 1px solid black;
}
.multimedia{
	display: none;
}




/* ********************************************************************* media queries ***************************************************************** */

@media screen and (min-width: 200px) and (max-width: 550px){
	body{
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		width: 100%;

		grid-template-areas:
		"header"
		"menu"
		"main-news"
		"items"
		"pub"
		"item3"
		"footer";
		grid-gap: 25vh;

	}
	.input{
		display: none;
	}
	.menu-btn {
	  position: fixed;
	  z-index: 3;
	  left: 1vw;
	  top: 4vh;
	  cursor: pointer;
	  transition: all 0.5s ease-out; }
	  .menu-btn .btn-line {
	    width: 28px;
	    height: 3px;
	    margin: 0px 0px 5px 0px;
	    background: #111;
	    transition: all 0.5s ease-out; }
	  .menu-btn.close {
	    transform: rotate(180deg); }
	    .menu-btn.close .btn-line:nth-child(1) {

	      background: #222;
	      transform: rotate(45deg) translate(5px, 5px);
	      transition: all 0.7s ease-out; }
	    .menu-btn.close .btn-line:nth-child(2) {
	      opacity: 0; }
	    .menu-btn.close .btn-line:nth-child(3) {
	      background: #222;
	      transform: rotate(-45deg) translate(7px, -6px);
	      transition: all 0.7s ease-out; }


	.menu-container{
	display: none;
	width: 100% ;
	grid-area: menu;
	background: #eee3;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
	color: #111;
	position: fixed;
	top: 2px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	text-spacing: 1px;
	margin-top: 8vh;
	transition: all 0.5s ease-in;
	margin-bottom: 1vh;
}

	#multimedia{

	display: none;
	}
	.multimedia{
		color: #3333;

	}
	#menu{
	  }

	#menu > ul{
		list-style: none;



	}

	#menu > ul >li{

		margin-left: -1vw;
		display: inline;
		text-align: center;


	}

	#content{
	    top: 5px;
		margin-left: 2vw;
	}
	#search{
		margin-top: 1vh;
	}


	.main-news{
	margin-top: -15vh;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	grid-area: main-news;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image"
	"text";
	width: 99%;


}


.image-container{
	grid-area: image;
	margin-top: 5vh;




}
.image-container > img{
	width: 70vw;
	display: block;
	margin: auto;
}
.shared-news{
	grid-area: items;
	width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
 	"item1 item2";
 	font-size: 0.8rem;

}

.item-1{
	grid-area: item1;
	width:50vw;

	height: auto;
	display: block;
	margin: auto;
	margin-right: 5vw;



}

.item-1 > img{
	margin-top: 3vw;
	width: 27vw;
	margin-left: 5vw;


}

.item-2{
	grid-area: item2;
	width: 50vw;
	margin-top: 20px;
	height: auto;
	display: block;
	margin: auto;



}

.item-2 > img{
	width: 27vw;
	margin-left: 5vw;
	margin-top: 2vw;

}
.text-1{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}


.text-2{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}

.pub-container{
	grid-area: pub;
	width: 100vw;
	height: 10vh;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom:  1px solid rgba(0, 0, 0, 0.5);

}


footer{
	margin-top: 10px;
	grid-area: footer;
	width: 100vw;
	grid-template-columns: 25% 75%;
	grid-template-rows: 95% 10%;
	grid-template-areas:
	"left right"
	"trademark trademark";
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background: #eee3;

}
.pub-head{
	padding-top: 11vh;
	text-align: center;
}
.pub-small{
		margin-top: 5vh;
		width: 100vw;
		height: 10vw;
		display: flex;
		text-align: center;
		font-size:0.7rem;
		font-weight: 100;
		justify-content: center;
		color: #fff;
		margin-bottom: 25vh;
		padding-bottom: 3vh;
		z-index: -1;
		left: auto;

		}
.pub1{

	background-color: white;
	margin: auto 3vw;
	width: 40vw;
	margin-top: -1vh;
	height: auto;
	border: 1px solid #3333;


		}

.pub1 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}

.pub2 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}


.pub2{
	background-color: white;
	margin: auto 3vw;
	margin-top: -1vh;
	width: 40vw;
	height: auto;
	border: 1px solid #3333;
}

.head-news{

	margin-top: -19vh;
	width:70vw;
	height: auto;
	display:none;
	justify-content: center;
	text-align: center;
	font-size: 1vw;



}
.hn1 > img,.hn2 > img,.hn3 > img,.hn4 > img{
	width: 12vw;
	height: auto;
}
.hn1,.hn2,.hn3,.hn4{

	margin: 3vh 3vw;
	width: auto;
	height: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}




}
/* LAPTOP SMALL / IPAD*/

@media screen and (min-width: 551px) and (max-width: 800px)
{
body{
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		width: 70%;
		margin-left: 15vw;
		grid-template-areas:
		"header"
		"menu"
		"main-news"
		"items"
		"pub"
		"item3"
		"footer";
		grid-gap: 13vh;

	}

.content{
	font-size: 0.1rem;
}

.input{
	width:70px;
	display: none;
}
	.menu-container{
	width: 70% ;
	grid-area: menu;
	background: #eee3;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 19px;
	font-size: 0.8rem;
	letter-spacing: -1px;
	text-spacing: -1px;
}


	#multimedia{
	display: none;
	}
	.multimedia{
		color: #3333;

	}
	#menu{
	  }

	#menu > ul{
		list-style: none;



	}

	#menu > ul >li{
		margin: 1vw 1vw 0 0;
		display: inline;
		text-align: center;


	}

	#content{
		float: left;
		margin-left: 2vw;
	}


	.main-news{
	margin-top: -8vh;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	grid-area: main-news;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image"
	"text";
	width: 99%;


}


.image-container{
	grid-area: image;
	margin-top: 5vh;




}
.image-container > img{
	width: 50vw;
	display: block;
	margin: auto;
}
.shared-news{
	grid-area: items;
	width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
 	"item1 item2";

}

.item-1{
	grid-area: item1;
	width:50vw;

	height: auto;
	display: block;
	margin: auto;
	margin-right: 5vw;



}

.item-1 > img{
	margin-top: 2vw;
	width: 27vw;
	margin-left: 5vw;


}

.item-2{
	grid-area: item2;
	width: 50vw;
	margin-top: 20px;
	height: auto;
	display: block;
	margin: auto;



}

.item-2 > img{
	width: 27vw;
	margin-left: 5vw;
	margin-top: 2vw;

}
.text-1{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}


.text-2{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}

.pub-container{
	grid-area: pub;
	width: 70vw;
	height: 10vh;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom:  1px solid rgba(0, 0, 0, 0.5);

}


footer{
	margin-top: 10px;
	grid-area: footer;
	width: 70vw;
	grid-template-columns: 25% 75%;
	grid-template-rows: 95% 10%;
	grid-template-areas:
	"left right"
	"trademark trademark";
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background: #eee3;

}
.pub-head{
	margin: 5vh;
	text-align: center;
}
.pub-small{
		margin-top: 3vh;
		width: 69vw;
		height: 30vw;

		display: flex;
		text-align: center;
		font-size:1rem;
		font-weight: 100;
		justify-content: center;
		color: #fff;
		z-index: -1;

		}
.pub1{
	background-color: white;
	margin: -2vw 3vw;
	width: 40vw;
	height: 17vw;
	border: 1px solid #3333;
	z-index: -1;

		}

.pub1 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}

.pub2 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}


.pub2{
	z-index: -1;
	background-color: white;
	margin: -2vw 3vw;
	width: 40vw;
	height: 17vw;
	border: 1px solid #3333;
}

.head-news{
	margin-top: -19vh;
	width:70vw;
	height: auto;
	display:flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5vw;



}
.hn1 > img,.hn2 > img,.hn3 > img,.hn4 > img{
	width: 12vw;
	height: auto;
}
.hn1,.hn2,.hn3,.hn4{

	margin: 3vh 3vw;
	width: auto;
	height: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);


}

}



/* LAPTOP Medium */
@media screen and (min-width: 801px) and (max-width:1279px) {
	body{
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		width: 70%;
		margin-left: 15vw;
		grid-template-areas:
		"header"
		"menu"
		"main-news"
		"items"
		"pub"
		"item3"
		"footer";
		grid-gap: 20vh;

	}
	.input{
		display: none;
	}

	.menu-container{
	width: 70% ;
	grid-area: menu;
	background: #eee3;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 19px;
	font-size: 0.8rem;
	letter-spacing: -1px;
	text-spacing: -1px;
	transition: all 1s ease-in-out;
}

	#multimedia{
	display: none;
	}
	.multimedia{
		color: #3333;

	}
	#menu{
	  }

	#menu > ul{
		list-style: none;



	}

	#menu > ul >li{
		margin: 1vw 1vw 0 0;
		display: inline;
		text-align: center;


	}

	#content{
		float: left;
		margin-left: 2vw;
	}


	.main-news{
	margin-top: -15vh;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	grid-area: main-news;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image"
	"text";
	width: 99%;


}


.image-container{
	grid-area: image;
	margin-top: 5vh;




}
.image-container > img{
	width: 50vw;
	display: block;
	margin: auto;
}
.shared-news{
	grid-area: items;
	width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
 	"item1 item2";

}

.item-1{
	grid-area: item1;
	width:50vw;

	height: auto;
	display: block;
	margin: auto;
	margin-right: 5vw;



}

.item-1 > img{
	margin-top: 2vw;
	width: 27vw;
	margin-left: 5vw;


}

.item-2{
	grid-area: item2;
	width: 50vw;
	margin-top: 20px;
	height: auto;
	display: block;
	margin: auto;



}

.item-2 > img{
	width: 27vw;
	margin-left: 5vw;
	margin-top: 2vw;

}
.text-1{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}


.text-2{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}

.pub-container{
	grid-area: pub;
	width: 70vw;
	height: 10vh;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom:  1px solid rgba(0, 0, 0, 0.5);

}


footer{
	margin-top: 10px;
	grid-area: footer;
	width: 70vw;
	grid-template-columns: 25% 75%;
	grid-template-rows: 95% 10%;
	grid-template-areas:
	"left right"
	"trademark trademark";
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background: #eee3;

}
.pub-head{
	padding-top: 5vh;
	text-align: center;
}
.pub-small{
		margin-top: 5vh;
		width: 69vw;
		height: 35vw;

		display: flex;
		text-align: center;
		font-size:1rem;
		font-weight: 100;
		justify-content: center;
		color: #fff;
		margin-bottom: 3vh;


		}
.pub1{
	background-color: white;
	margin: -4vw 3vw;
	width: 40vw;
	height: 10vh;
	border: 1px solid #3333;


		}

.pub1 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}

.pub2 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}


.pub2{
	background-color: white;
	margin: -4vw 3vw;
	width: 40vw;
	height: 10vh;
	border: 1px solid #3333;
}

.head-news{
	margin-top: -19vh;
	width:70vw;
	height: auto;
	display:flex;
	justify-content: center;
	text-align: center;
	font-size: 1.5vw;



}
.hn1 > img,.hn2 > img,.hn3 > img,.hn4 > img{
	width: 12vw;
	height: auto;
}
.hn1,.hn2,.hn3,.hn4{

	margin: 3vh 3vw;
	width: auto;
	height: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}




}
@media screen and (min-width: 1280px)  {
	body{
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		width: 70%;
		margin-left: 15vw;
		grid-template-areas:
		"header"
		"menu"
		"main-news"
		"items"
		"pub"
		"item3"
		"footer";
		grid-gap: 25vh;

	}
	.input{
		display: none;
	}

	.menu-container{
	width: 70% ;
	grid-area: menu;
	background: #eee3;
	border-bottom:  1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 19px;
	font-size: 1rem;
	letter-spacing: -1px;
	text-spacing: -1px;
}

	#multimedia{

	display: none;
	}
	.multimedia{
		color: #3333;

	}
	#menu{
	  }

	#menu > ul{
		list-style: none;



	}

	#menu > ul >li{
		margin: 1vw 1vw 0 0;
		display: inline;
		text-align: center;


	}

	#content{
		float: left;
		margin-left: 2vw;
	}


	.main-news{
	margin-top: -15vh;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	grid-area: main-news;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"image"
	"text";
	width: 99%;


}


.image-container{
	grid-area: image;
	margin-top: 5vh;




}
.image-container > img{
	width: 50vw;
	display: block;
	margin: auto;
}
.shared-news{
	grid-area: items;
	width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
 	"item1 item2";

}

.item-1{
	grid-area: item1;
	width:50vw;

	height: auto;
	display: block;
	margin: auto;
	margin-right: 5vw;



}

.item-1 > img{
	margin-top: 2vw;
	width: 27vw;
	margin-left: 5vw;


}

.item-2{
	grid-area: item2;
	width: 50vw;
	margin-top: 20px;
	height: auto;
	display: block;
	margin: auto;



}

.item-2 > img{
	width: 27vw;
	margin-left: 5vw;
	margin-top: 2vw;

}
.text-1{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}


.text-2{
	margin:auto 4vw;
	width: 30vw;
	text-align: center;
	text-decoration: underline;
	}

.pub-container{
	grid-area: pub;
	width: 70vw;
	height: 10vh;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom:  1px solid rgba(0, 0, 0, 0.5);

}


footer{
	margin-top: 10px;
	grid-area: footer;
	width: 70vw;
	grid-template-columns: 25% 75%;
	grid-template-rows: 95% 10%;
	grid-template-areas:
	"left right"
	"trademark trademark";
	border-top: 3px solid rgba(0, 0, 0, 0.3);
	background: #eee3;

}
.pub-head{
	padding-top: 11vh;
	text-align: center;
}
.pub-small{
		margin-top: 5vh;
		width: 69vw;
		height: 25vw;

		display: flex;
		text-align: center;
		font-size:1rem;
		font-weight: 100;
		justify-content: center;
		color: #fff;
		margin-bottom: 3vh;


		}
.pub1{
	background-color: white;
	margin: auto 3vw;
	width: 40vw;
	margin-top: -1vh;
	height: auto;
	border: 1px solid #3333;


		}

.pub1 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}

.pub2 > p{
		background-color:rgba(0,0,0,0.4);
		display: block;
		margin-top: 35%;
		}


.pub2{
	background-color: white;
	margin: auto 3vw;
	margin-top: -1vh;
	width: 40vw;
	height: auto;
	border: 1px solid #3333;
}

.head-news{
	margin-top: -19vh;
	width:70vw;
	height: auto;
	display:flex;
	justify-content: center;
	text-align: center;
	font-size: 1vw;



}
.hn1 > img,.hn2 > img,.hn3 > img,.hn4 > img{
	width: 12vw;
	height: auto;
}
.hn1,.hn2,.hn3,.hn4{

	margin: 3vh 3vw;
	width: auto;
	height: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}




}






